#search {
    border: 2px solid rgb(45, 139, 127);
    border-radius: 10px;
    background-color:whitesmoke;
    color: rgb(45, 139, 127);
    font-weight: bold;
    padding: 2px 30px;
    margin: 10px;
}

#plus {
    border: 2px solid;
    background-color: aquamarine;
    color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 10px;
}

#account {
    border: 2px solid black;
    color: white;
    background-color: dodgerblue;
    box-shadow: 2px 2px 2px black;
    padding: 4px 40px;
    margin: 10px;
}